<link rel="stylesheet" href="/css/logo-bg.css">

<div class="book-hero justify-center">
    <div id="hero-container">
        <svg id="networkSvg"></svg>
        <div id="network-overlay"></div>
        <div id="bg-content">
            <div class="landing-logo justify-center">
                <img src="/favicon.svg" alt="Logo">
                <h1>{{ .Page.Title }}</h1>
            </div>
            <div class="justify-center">
                <h2 class="text-center">{{ .Page.Params.subtitle }}</h2>
            </div>
        </div>
    </div>
</div>

<script src="/js/logo-bg.js"></script>